<div class="contenedor">

    <div class="titles">
        <h1>{{title}}</h1>
    </div>

    <div class="top">
          
    </div>

        <div class="graficoBarra">
            <div class="chart-container">
                <canvas  id="MyChartBar" >{{ chartBarra }}</canvas>
            </div>
        </div>

        <div class="graficosAbajo">

            <div class="graficoDona">
                <div class="chart-container">
                    <canvas  id="MyChartPie" >{{ chartPie }}</canvas>
                </div>
            </div>
    
            <div class="graficoLinea">
                <div class="chart-container">
                    <canvas  id="MyChartLine" >{{ chartLine }}</canvas>
                </div> 
            </div>  

        </div>
</div>
